<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Generic -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MVC Testy Thingamajigg</title>
     <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" /> 

    <!-- CSS ; Stolen from first iteration -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/navbar.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/style.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/udlejning.css" />
    <link href="https://fonts.googleapis.com/css2?family=Matemasie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div>  
    <nav>
        <ul class="nav-list">
            <li class="nav-item logo matemasie-thin">
                <img src="~/lib/>
                <span class="img-text">Surf's up</span>
            </li>
            <li class="nav-item">
                <a href="Home">Home</a>
            </li>
            <li class="nav-item">
                <a href="Udlejning">Udlejning</a>
            </li>
            <li class="nav-item">
                <a href="#">Kontakt</a>
            </li>
            <li class="nav-item">
                <a href="about.html">Om os</a>
            </li>
            <li class="nav-item">
                <a href="kurv.html">Kurv</a>
            </li>
            <li class="nav-item">
                <input type="text" placeholder="Søg" height="44px">
            </li>
        </ul>
    </nav>
    </div>
    <div>

        <img src="~/lib/bootstrap/img/JohnDude.jpg">
        <span class="img-text">Surf's up</span>
    </div>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>