
.Surfboard{
    background-image: url(https://images.photowall.com/products/60791/surfboard-1.jpg?h=699&q=85);
    text-align: center;
    width: 110px;
    column-count: auto;
    align-items: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    border:0px;
}

/* Navbar design */
.nav-list {
  background: white;
  box-shadow: 0px 0px 10px #cfd8dc;
  padding: 1rem 0;
  border-radius: 0.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*  Removes bulletpoints on the li items */
.nav-item {
  list-style: none;
}

/*   Navbar Links design */
.nav-item a {
  text-decoration: none;
  color: black;
  margin-right: 2rem;
  font-size: 1rem;
  background: #2adbde;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* Navbar Links hover effekt */
.nav-item a:hover {
  color: #fff;
}

/* Navbar right logo and left links */
.nav-item:nth-child(1) {
  margin-right: auto;
  margin-left: 2rem;
}

/* Navbar last child fix edge */
.nav-item:last-child {
  margin-right: 10px;
}

/* Navbar img design */
.nav-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/* Navbar search bar */
.nav-item input[type=text]{
  padding: 13px;
  border-radius: 30px;
  border-color: #2adbde;
  border-width: 1px;
}

.logo {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 20px;
  font-size: 38px;
}