
.Surfboard{
    background-image: url(https://images.photowall.com/products/60791/surfboard-1.jpg?h=699&q=85);
    text-align: center;
    width: 110px;
    column-count: auto;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
    border:0px;
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2adbde;
    
}

.topnav {
    background-color: #1389eb;
    overflow: hidden;
    align-items: center;
    vertical-align: middle;
    display:block;
  }

  .topnav input[type=text]{
    float: right;
    padding: 15px;
    border-radius: 30px;
    border-color: #1389eb;
    border-width: 1px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #e4eb13;
    color: white;
  }
  .Logo {
  margin-left: 0px;
  margin-right: 99;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 75px;
  width: auto;
  float:left;
  }

  .sidebarDiv {
    margin: 5px;
  }

  .centerGrid {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 100px;
    

  }
  .centerGrid h1{
    color: #2adbde;
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    

  }
  .containerVaddragt{
    height: 100px;
    position: relative;
  }
  .verticalCenter{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  }
  /* Vi skal huske at have ændret vores info text */
  .matemasie-regular {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .matemasie-thin{
    font-family: "Matemasie", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .info {
    font-family: "Matemasie", sans-serif;
    font-style: italic;
    font-size:small;
    
    margin-right: 500px;
    color: #2adbde;

  }

  
