
.Surfboard{
    background-image: url(https://images.photowall.com/products/60791/surfboard-1.jpg?h=699&q=85);
    text-align: center;
    width: 110px;
    column-count: auto;
    align-items: center;
    align-content: center;
    margin-left: 10px;
    margin-right: 10px;
    border:0px;
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #2adbde;
    
}

/* Navbar design */
.nav-list {
  background: white;
  box-shadow: 0px 0px 10px #cfd8dc;
  padding: 1rem 0;
  border-radius: 0.2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*  Removes bulletpoints on the li items */
.nav-item {
  list-style: none;
}

/*   Navbar Links design */
.nav-item a {
  text-decoration: none;
  color: white;
  margin-right: 2rem;
  font-size: 1rem;
  background: #2adbde;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-family: "Matemasie", sans-serif;
  font-style: normal;
}

  .centerGrid {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 200px;
  }

  .centerGrid h1 {
    color: #2adbde;
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .containerVaddragt {
    height: 100px;
    position: relative;
  }

  .verticalCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  /* Vi skal huske at have ændret vores info text */
  .matemasie-regular {
    font-family: "Matemasie", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .matemasie-thin{
    font-family: "Matemasie", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .info {
    font-family: "Matemasie", sans-serif;
    font-style: italic;
    font-size:small;
    margin-right: 500px;
    color: #2adbde;

  }

/* Navbar Links hover effekt */
.nav-item a:hover {
  color: #fff;
}

/* Navbar right logo and left links */
.nav-item:nth-child(1) {
  margin-right: auto;
  margin-left: 2rem;
}

/* Navbar last child fix edge */
.nav-item:last-child {
  margin-right: 10px;
}

/* Navbar img design */
.nav-item img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}


.nav-item input[type=text]{
  padding: 13px;
  border-radius: 30px;
  border-color: #2adbde;
  border-width: 1px;
}

.logo {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 20px;
  font-size: 38px;
  color: #2adbde;
}

  /* Grey basket branch CSS thingamajigg */
.BasketDiv {
  z-index: 10; /* Probably not needed (yet?) */
  background-color: grey;
  position: absolute;
  right: 0px;
  height: 100%;
  width: 300px;
  background-color: #2adbde;
  border-radius: 30px;
}

.BasketContentDiv {
  margin-left: 15px;
}

.BasketText {
  font-weight: bold;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* style="height: 25px; background-color: white; box-shadow: none; border: none; width: 25px;" */
.BasketHorizontalLine {
  height: 2px;
  background-color: white;
  border:none;
  box-shadow: none;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.BasketTotalP {
  margin-left: 15px;
  margin-right: 15px;
  font-weight: bold;
  font-size: larger;
}

/* style="margin-left: 0px; text-align: right;position: absolute; right: 0px; */
.BasketTotalRightSideText {
  position: absolute;
  right: 0px;
  margin-right: 15px;
}

.BasketButtonDiv {
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
}

.BasketDoneButton {
  height: 35px;
  width: 100%;
  /* background-color: rgb(167, 210, 232); */
  color:white;
  color:black;
}

.BasketDoneButton:hover {
  background-color: white;
  color: black;
}
  /* ----------------------------------- */
