@using SurfsUpv3.Models
@model IEnumerable<Surfboard>




<div class="info">
    Er du klar til at fange bølgerne og opleve havets frihed? <br /><br />
    Hos Surf's Up tilbyder vi alt, hvad du behøver for at gøre din surfoplevelse uforglemmelig!<br /><br />

    Vores udlejningstilbud indeholder:<br /> <br />

    -Surfboards til alle niveauer: Uanset om du er nybegynder eller erfaren surfer,
    <br />har vi det perfekte board til dig – fra soft-tops til shortboards og longboards.
    <br /><br />
    -Våddragter og Surfudstyr: Hold dig varm og komfortabel i vores topkvalitets våddragter,<br />
    og få alt nødvendigt udstyr såsom leash, wax og fins.

</div>
<br />

<div class="main-container">
    <!-- Surfboards section -->
    <div class="product-list">
        <h3>Surfboards</h3>
        <div class="product-container">
            @foreach (var surfboard in Model)
            {
                <div class="product-surfboard">
                    <a class="btn btn-primary surfboard-item d-block text-center py-2" asp-controller="rentorder" asp-action="index" asp-route-passedSurfboard="@surfboard.BoardName">
                        <img src="@Url.Content("~/images/blueTestTransp.png")" alt="Surfboard Image" class="img-fluid" />
                        <span>@surfboard.BoardName</span>
                    </a>
                </div>
            }
        </div>
    </div>
    <!-- Shopping cart section -->
    <div class="shopping-cart">
        <h3>Kurv</h3>
        <!-- Indkøbskurv indhold -->
    </div>

</div>



<br />
<div class="main-container">
    <div class="product-list">
        <h3>Våddragter</h3><br />
        <div class="row">
            <div class="product-container">
                <div class="product-wetsuit">
                    <button class="btn btn-primary wetsuit-item d-block text-center py-2">
                        <img src="\images\VåddragtBlue.jpg" class="img-fluid" /><br />
                        Lej en våddragt
                    </button>
                    <button class="btn btn-primary wetsuit-item d-block text-center py-2">
                        <img src="\images\VåddragtBlue.jpg" class="img-fluid" /> <br />
                        Lej en våddragt
                    </button>
                    <button class="btn btn-primary wetsuit-item d-block text-center py-2">
                        <img src="\images\VåddragtBlue.jpg" class="img-fluid" /><br />
                        Lej en våddragt
                    </button>
                </div>
            </div>


        </div>
    </div>
</div>
<br />

<div class="container">
    <h3>Andre ting</h3><br />
    <div class="row">
        <div class="col-4">
            <button class="Surfboard">
                <img src="\images\LifeJacket.jpg" width="150px"
                     height="150px"><br />
                Lej redningsvest
            </button>

        </div>
        <div class="col-4">
            <button class="Surfboard">
                <img src="\images\SurfGloves.jpg" width="100px"
                     height="100px"><br />
                Lej handsker
            </button>

        </div>
        <div class="col-4">
            <button class="Surfboard">
                <img src="\images\PaddleBlack.jpg" width="100px"
                     height="100px"><br />
                Lej roudstyr
            </button>
        </div>
    </div>
</div>
