@using SurfsUpv3.Models
@model SurfboardRepository

<!-- These am from Grey Basqit branch O: -->
<div class="BasketDiv">
    <div class="BasketContentDiv">
        <div class="Basketconetent">
            <h2 class="BasketText">Kurv</h2>
        </div>
        <div id="BasketItems">
            <!-- Basket Items goes here -->
            <p>Item 1</p>
            <p>Item 2</p>
        </div>
    </div>

    <hr class="BasketHorizontalLine">

    <p class="BasketTotalP">Total: <span class="BasketTotalRightSideText">999$</span></p>
    <div class="BasketButtonDiv">
        <button class="BasketDoneButton" onClick="Test_AlterBasketContent()">Köb</button>
    </div>
</div>

<script>
    function BasketFunc() {

    }

    function Test_AlterBasketContent() {
        // WOK IN PROGRESZ O:

        // document.write();

        const randStrings = new Array("Super Swank Board 426 LX", "Bönne-Wax 12 PT");

        var final = "";

        for (var i = 0; i < randStrings.Length; i++) {
            final = final + "<p>" + randStrings[i] + "</p>";
        }

        //document.getElementById("BasketItems").innerHTML = "<p>An Item After CLicking Done-Button</p>"; // Test thingy, works

        document.getElementById("BasketItems").innerHTML = final;
    }
</script>
<!-- ----------------------------------- -->

<div class="info">
    Er du klar til at fange bølgerne og opleve havets frihed? <br /><br />
    Hos Surf's Up tilbyder vi alt, hvad du behøver for at gøre din surfoplevelse uforglemmelig!<br /><br />

    Vores udlejningstilbud indeholder:<br /> <br />

    -Surfboards til alle niveauer: Uanset om du er nybegynder eller erfaren surfer, 
    <br />har vi det perfekte board til dig – fra soft-tops til shortboards og longboards.
    <br /><br />
    -Våddragter og Surfudstyr: Hold dig varm og komfortabel i vores topkvalitets våddragter,<br /> 
    og få alt nødvendigt udstyr såsom leash, wax og fins.
</div>
<br />

<div class="container">
    <h3>Surfboards</h3><br />
    <div class="surfboard-row" id="surfboardRows">
        @foreach (var surfboard in Model.Surfboards)
        {
            <div class="col-md-4">
                <a class="btn btn-primary Surfboard d-block text-center py-2" asp-controller="rentorder" asp-action="index" asp-route-passedSurfboard="@surfboard.BoardName">
                    <img src="@Url.Content("~/images/blueTestTransp.png")" width="150" height="150" alt="Surfboard Image" class="img-fluid" />
                    @surfboard.BoardName
                </a>
            </div>
        }
    </div>
</div>
    
<br />

<div class="container">
    <h3>Våddragter</h3><br />
    <div class="row">
        <div class="col-4">
            <button class="Wetsuit">
                <img src="\images\VåddragtBlue.jpg" width="100px"
                     height="100px"><br />
                Lej en våddragt
            </button>
        </div>
        <div class="col-4">
            <button class="Wetsuit">
                <img src="\images\VåddragtBlue.jpg" width="100px"
                     height="100px"><br />
                Lej en våddragt
            </button>
        </div>
        <div class="col-4">
            <button class="Wetsuit">
                <img src="\images\VåddragtBlue.jpg" width="100px"
                     height="100px"><br />
                Lej en våddragt
            </button>
        </div>
    </div>
</div>
<br />

<div class="container">
    <h3>Andre ting</h3><br />
    <div class="row">
        <div class="col-4">
            <button class="Surfboard">
                <img src="\images\LifeJacket.jpg" width="150px"
                     height="150px"><br />
                Lej redningsvest
            </button>

        </div>
        <div class="col-4">
            <button class="Surfboard">
                <img src="\images\SurfGloves.jpg" width="100px"
                     height="100px"><br />
                Lej handsker
            </button>

        </div>
        <div class="col-4">
            <button class="Surfboard">
                <img src="\images\PaddleBlack.jpg" width="100px"
                     height="100px"><br />
                Lej roudstyr
            </button>
        </div>
    </div>
</div>
