@using SurfsUpWebApp.Models
@model SurfboardRepository

<!-- These am from Grey Basqit branch O: -->
<div class="BasketDiv">
    <div class="BasketContentDiv">
        <div class="Basketconetent">
            <h2 class="BasketText">Kurv</h2>
        </div>
        <div id="BasketItems">
            <!-- Basket Items goes here -->
            <p>Item 1</p>
            <p>Item 2</p>
        </div>
    </div>

    <hr class="BasketHorizontalLine">

    <p class="BasketTotalP">Total: <span class="BasketTotalRightSideText">999$</span></p>
    <div class="BasketButtonDiv">
        <button class="BasketDoneButton" onClick="Test_AlterBasketContent()">Köb</button>
    </div>
</div>

<script>
    function BasketFunc() {

    }

    function Test_AlterBasketContent() {
        // WOK IN PROGRESZ O:

        // document.write();

        const randStrings = new Array("Super Swank Board 426 LX", "Bönne-Wax 12 PT");

        var final = "";

        for (var i = 0; i < randStrings.Length; i++) {
            final = final + "<p>" + randStrings[i] + "</p>";
        }

        //document.getElementById("BasketItems").innerHTML = "<p>An Item After CLicking Done-Button</p>"; // Test thingy, works

        document.getElementById("BasketItems").innerHTML = final;
    }
</script>
<!-- ----------------------------------- -->

<div class="info">
    Hvordan lejer surfudstyr : ipsum lorem vnvnavåqvm vqånqåovnqåv qvå qmvåq våqn qåvnqåvnqån qåvnåq våq åqnv åqn våqnvå qnåvq nåvnq å
</div>
<div class="container">
    <h3>Surfboards</h3>
    <div class="row" id="surfboardRows">

        <!-- As stolen from Von Claussen's group & ChatGPT after 4 hours of testing with Jeszckh'é -->
        @foreach (var surfboard in Model.Surfboards) {
            <div class="col-4">
                <a href="RentOrder">
                    <button class="Surfboard">
                        <img src="https://images.photowall.com/products/60791/surfboard-1.jpg?h=699&q=85" width="150px"
                             height="150px">
                        @surfboard.BoardName;
                    </button>
                </a>
            </div>
        }

    </div>
</div>

<div class="container">
    <h3>Våddragt</h3>
    <div class="row">
        <div class="col-4">
            <button class="Surfboard">
                <img src="https://images.photowall.com/products/60791/surfboard-1.jpg?h=699&q=85" width="100px"
                     height="100px">
                Lej en Vaaddragt O_O
            </button>
        </div>
        <div class="col-4">
            <button class="Surfboard">
                <img src="https://images.photowall.com/products/60791/surfboard-1.jpg?h=699&q=85" width="100px"
                     height="100px">
                Lej en Vaaddragt O_O
            </button>
        </div>
        <div class="col-4">
            <button class="Surfboard">
                <img src="https://images.photowall.com/products/60791/surfboard-1.jpg?h=699&q=85" width="100px"
                     height="100px">
                Lej en Vaaddragt O_O
            </button>
        </div>
    </div>
</div>

<div class="container">
    <h3>Andre ting</h3>
    <div class="row">
        <div class="col-4">
            <button class="Surfboard">
                <img src="https://images.photowall.com/products/60791/surfboard-1.jpg?h=699&q=85" width="150px"
                     height="150px">
                Lej Surfboard
            </button>

        </div>
        <div class="col-4">
            <button class="Surfboard">
                <img src="https://images.photowall.com/products/60791/surfboard-1.jpg?h=699&q=85" width="100px"
                     height="100px">
                Lej Surfboard
            </button>

        </div>
        <div class="col-4">
            <button class="Surfboard">
                <img src="https://images.photowall.com/products/60791/surfboard-1.jpg?h=699&q=85" width="100px"
                     height="100px">
                Lej Surfboard
            </button>
        </div>
    </div>
</div>
