@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{

        @if (@User.Identity?.Name == "hej@hej.dk")
        {
            <li class="nav-item">
                <a class="nav-´link" asp-controller="Admins"  asp-action="Index" title="Bookings">Se bookninger</a>
            </li>
        }
        <li class="nav-item">
        <a  class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Velkommen @User.Identity?.Name!</a>

    </li>
    <li class="nav-item">
            <form class="form-inline d-flex justify-content-center" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link">Log ud</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Opret bruger</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Log ind</a>
    </li>
}
</ul>
