@* <div class="hero-image">
    <div class="hero-text">
        <h1>Velkommen til Surf's UP</h1>
        <p>Vi tilbyder de bedste surfboards til leje, så du kan fange de perfekte bølger. Uanset om du er nybegynder eller en erfaren surfer, har vi det rette udstyr til dig. Kom ind og gør dig klar til at ride på bølgerne!</p>
        <a href="Udlejning"><button class="Herobtn">Se vores udlejnings kalatog her</button></a>
    </div>
</div> *@

<div class="hero-image">
    <div class="hero-text">
        <h1>Velkommen til Surf's UP</h1>
        <p>Vi tilbyder de bedste surfboards til leje, så du kan fange de perfekte bølger. Uanset om du er nybegynder eller en erfaren surfer, har vi det rette udstyr til dig. Kom ind og gør dig klar til at ride på bølgerne!</p>
        <a href="Udlejning"><button class="Herobtn">Se vores udlejnings katalog her</button></a>
    </div>
</div>


