@using SurfsUpWebApp.Models;
@model Booking;


<h1>Bookingbekræftelse</h1>
<div>
    <p>
        Du har booket @Model.CustomerName 
    </p>

    <p>
        Din e-mejl er @Model.CustomerEmail
    </p>
</div>

